<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" 
		xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.twoexvia.twoexCam"
    version="0.0.2">
    <name>2exCam</name>
    <description>2exVia Camera Plugin</description>
    <license>Apache 2.0</license>
    <keywords>2exvia,camera</keywords>
   <repo></repo>
    <issue></issue>
  <js-module src="www/twoexCam.js" name="twoexCam">
    <clobbers target="com.twoexvia.twoexCam" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="twoexCam">
        <param name="android-package" value="com.twoexvia.twoexCam.TwoexviaCamera" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/TwoexviaCamera.java" target-dir="src/com/twoexvia/2exCam" />
  </platform>

    <!-- ios 
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Keyboard">
                <param name="ios-package" value="IonicKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/IonicKeyboard.h" />
        <source-file src="src/ios/IonicKeyboard.m" />
        <header-file src="src/ios/UIWebViewExtension.h" />
        <source-file src="src/ios/UIWebViewExtension.m" />
    </platform>
-->
    <!-- blackberry10 
    <platform name="blackberry10">
        <source-file src="src/blackberry10/index.js" target-dir='Keyboard' />
        <lib-file src="src/blackberry10/native/device/libKeyboard.so" arch="device"/>
        <lib-file src="src/blackberry10/native/simulator/libKeyboard.so" arch="simulator"/>
        <config-file target="www/config.xml" parent="/widget">
               <feature name="Keyboard" value="com.ionic.keyboard"/>
            
        </config-file>
    </platform>
    -->

</plugin>
